numpy
pandas
torch
torchvision
# opencv-python  # For image processing (optional)
matplotlib
jupyter  # For notebooks
scikit-learn
tqdm  # Progress bars
z3-solver
tensorflow
# pip install -r requirements.txt